# epel.repo for JB sandbox
[epel]
name=Extra Packages for Enterprise Linux $releasever - $basearch
baseurl={{ yum_server_root_url }}/epel/$releasever/$basearch/
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-7